body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


header {
    padding: 3vh;
    background: #EEE;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

nav ul {
    width: 250px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

main { 
    margin: 3vh;
   
}
section {
    width: 600px;
    height: auto;
    border: 1px solid rgb(184, 180, 180);
    box-shadow: 1px 2px 5px rgba(92, 91, 91, 0.5);
}

h2 {
    margin: 20px;
}

img {
    width: 100%;
}

p {
    margin: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

table {
    width: 97%;;
    margin: 10px;
    border-collapse: collapse; 
}

table tr {
    border-bottom: 1px solid rgb(211, 209, 209);
    padding-bottom: 3px;
}






@media only screen and (max-width: 1000px) {
    /* Media queries go here */
    section {
        width: 500px;
        height: auto;
        border: 1px solid rgb(95, 94, 94);
        box-shadow: 1px 2px 5px rgba(92, 91, 91, 0.5);
    }
}

@media only screen and (max-width: 600px) {
    section {
        width: 300px;
        height: auto;
        border: 1px solid rgb(95, 94, 94);
        box-shadow: 1px 2px 5px rgba(92, 91, 91, 0.5);
    }
    /* Media queries go here */
}